.container {
    border: 1px solid #DCDEDD;
    border-radius: 0;
    width: 33.333333%;
    display: block;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    position: relative;
  }

  /* .hover {
    opacity: 1;
    -webkit-transition: background-color 500ms;
  } */
/* .container:hover .overlay{
  animation-delay: 1000ms;
  visibility: visible;
  opacity: 0.9;
  z-index: 2;
} */
.container:hover .overlay{
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #009e74;
  overflow: hidden;
}
.select {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.pledge_amount {
  color: #282828;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px
}

.money {
  white-space: nowrap;
  font-size: 100%;
}